.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.react-playlister{
  > div {
    margin:auto;
  }
}

#feedback{
  display:flex;
  padding:2em;
  position:relative;
  >*{
    flex:auto;
    flex-basis:50%;
    padding:2em;
    display:flex;
    flex-direction:column;

  }
  #input{
    textarea{
      border:1px solid #CCC;
      width:100%;
      height:100%;

      box-sizing:border-box;
      line-height:1.2em;
    }
  }
  #output{
    padding:2em;
    ul{
      text-align:left;
      margin:0;
      padding:0;
      list-style:none;

      li{
        line-height:1.2em;
        margin:0;
        padding:0;
      }
    }

    .track,.source{
      border-left:5px solid white;
      > * {
        margin-left:.5em;
        display: block;
      }
      &.current{
        border-left:5px solid #CCC;
      }
    }

    .track{
      cursor: pointer;
      padding: 1em 0;


      &:not(.playable){
        opacity:.5;
      }
    }
    .source{
      cursor: pointer;
      .ui.label{
        font-size:.8em;
        padding:.2em .5em;
      }
    }
  }
}


#controls{

  strong{
    margin:0 .5em;
  }
}
